<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>SCVPS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="topbar">
        <div class="container">
            <div class="brand">
                <a href="/">Smart CV Prioritization System</a>
            </div>
            <nav>
                <a href="/">Jobs</a>
                <a href="{{ url_for('all_cvs') }}">CVs</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-wrap">
            {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer class="footer container">
        <small>SCVPS • MVP</small>
    </footer>
</body>

</html>